.rsidebar{
    z-index: 5;
    right: 0;
}
input[type='radio']:checked+ .answer-button{
    background:linear-gradient(to right, rgb(0, 108, 196), #153ec5);
}
.answer-button{
    background : linear-gradient(to right, rgb(189, 189, 189), rgb(139, 139, 139));
}
.answer-button:hover{
    background:linear-gradient(to right, #97a9e2, #486ada);
}
.list-soal::-webkit-scrollbar{
    background: none;
    position: relative;
}
.soal:hover{
 background-color: #00000036;
 transition: 0.3s;
}
.answer-image{
    width: 90%;
    z-index: 5;
    position: relative;
    background:none;
}
.list-soal::-webkit-scrollbar-thumb{
    background-color: rgba(165, 165, 165, 0.555);
    border-radius: 50px;
    padding: 20px;
    z-index: 1;
    overflow: hidden;
}
.text-editor{
    width: 100%;
    border: none;
}
.ql-toolbar.ql-snow, .ql-container.ql-snow{
    border: none !important;
}
.ql-formats{

    color: blue !important;
    border-radius: 50px;
    padding: 2px;
}
.ql-snow.ql-toolbar button svg, .ql-snow .ql-toolbar button svg {
    color: blue !important;
}
.danger-html p{
    margin-bottom: 0px !important;
}